@import url(https://db.onlinewebfonts.com/c/91d3afe918937141b6ae8e43b1005bc8?family=Sharp+Grotesk+Book+25+Regular);

@font-face {
    font-family: "Sharp Grotesk Book 25 Regular";
    src: url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.eot");
    src: url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.svg#Sharp Grotesk Book 25 Regular")format("svg");
}

* {
    box-sizing: border-box;
    width: 100%;
}

body {
    /*font-family: 'Arial', sans-serif;*/
    font-family: "Sharp Grotesk Book 25 Regular";
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5f5f5;
    color: #333333;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #333333;
}

.logo-container img {
    /*max-width: 100%;
    height: auto;*/
    max-width: 300px;
    max-height: 90px;
    min-width: 150px;
    min-height: 45px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

a:hover {
    background-color: #91e991;
    padding: 0;
}

a.btn-active {
    background-color: #91e991;

}

.main-content {
    padding: 20px;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
}