@import url(https://db.onlinewebfonts.com/c/91d3afe918937141b6ae8e43b1005bc8?family=Sharp+Grotesk+Book+25+Regular);
@font-face {
    font-family: "Sharp Grotesk Book 25 Regular";
    src: url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.eot");
    src: url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/91d3afe918937141b6ae8e43b1005bc8.svg#Sharp Grotesk Book 25 Regular")format("svg");
}
* {
    box-sizing: border-box;
}

body {
    font-family: "Sharp Grotesk Book 25 Regular";
    margin: 0;
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

header {
    padding: 60px;
    text-align: center;
    align-items: center;
    color: white;
    background: rgb(39,39,39);
    background: linear-gradient(180deg, rgba(39,39,39,1) 0%, rgba(65,65,65,1) 49%, rgba(70,70,70,1) 56%, rgba(90,90,90,1) 67%, rgba(112,112,112,1) 76%, rgba(139,139,139,1) 85%, rgba(255,255,255,1) 100%);


}

nav {
    background-color: white;
    display: flex;
    padding: auto;
}

nav a {
    text-decoration: none;
    justify-content: center;
    border: solid 2px;
    border-color: black;
    color: black;

}

.LogoPrincipal {
    max-width: 200px;
    max-height: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 100%;
    padding: 0px;
}


footer {
    background: rgb(39, 39, 39);
    background: linear-gradient(0deg, rgba(39, 39, 39, 1) 0%, rgba(65, 65, 65, 1) 49%, rgba(70, 70, 70, 1) 56%, rgba(90, 90, 90, 1) 67%, rgba(112, 112, 112, 1) 76%, rgba(139, 139, 139, 1) 85%, rgba(255, 255, 255, 1) 100%);
    padding: 20px;
    text-align: center;


}
.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
}